.wrapper {
  padding-bottom: 100px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content-info {
  padding: 0 8px;
  .name {
    font-size: 2.2rem;
    margin: 0px 0px 15px;
    font-weight: 600;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;

    span {
      font-size: 2.4rem;
      color: #c90000;
      font-weight: 600;
    }
  }

  .compare-price {
    color: #7a7c80;
    margin-bottom: 6px;
    span {
      text-decoration: line-through;
    }
  }

  .gift {
    margin-top: 8px;
    border-radius: 5px;
    border-bottom: 1px solid #e0e0e0;

    div {
      padding: 8px 10px;
      font-weight: 600;
      text-align: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #f6f6f6;
      border: 1px solid #e0e0e0;
    }
    span {
      display: block;
      padding: 8px 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #e0e0e0;
    }
  }

  .count {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .btn {
    margin-top: 16px;
    display: flex;
    gap: 10px;
  }

  .btn-add {
    width: 100%;
    align-items: center;
    height: 50px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    color: var(--mainColor);
    background-color: var(--colorWhite);
    border: 1px solid var(--mainColor);
    cursor: pointer;

    &:hover {
      color: var(--subColor);
      border: 1px solid var(--subColor);
    }
  }

  .btn-buy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    color: var(--textColorWhite);
    border: 1px solid var(--mainColor);
    background: var(--mainColor);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    .cart-icon {
      font-size: 2.4rem;
    }
  }
}

.description {
  h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--mainColor);
  }

  p {
    margin-top: 10px;
  }
}
