.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status span {
  font-weight: bold;
}

.status .pending {
  color: red;
}

.status .delivered {
  color: green;
}

.section {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
  margin-bottom: 10px;
}

.product {
  display: flex;
  margin-bottom: 15px;
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
  }
  div {
    p {
      margin: 5px 0;
    }
  }
}
.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
